<div class="flex-grow-1 px-3 pb-5 p-md-0 ms-md-2 overflow-auto">
    <h1 class="text-dark-blue pt-md-5 pb-md-3 py-lg-5 mt-md-1 mb-md-2 text-center text-lg-start">Доходы</h1>

    <div class="row gx-3 gy-3">
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div class="card border rounded-3 h-100 border-light-gray">
                <div class="card-body">
                    <h5 class="card-title text-dark-purple mb-2 fs-3">Депозиты</h5>
                    <div class="d-flex gap-2">
                        <a href="incomes/edit" class="btn btn-primary fw-medium">Редактировать</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div class="card border rounded-3 h-100 border-light-gray">
                <div class="card-body">
                    <h5 class="card-title text-dark-purple mb-2 fs-3">Зарплата</h5>
                    <div class="d-flex gap-2">
                        <a href="incomes/edit" class="btn btn-primary fw-medium">Редактировать</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div class="card border rounded-3 h-100 border-light-gray">
                <div class="card-body">
                    <h5 class="card-title text-dark-purple mb-2 fs-3">Сбережения</h5>
                    <div class="d-flex gap-2">
                        <a href="incomes/edit" class="btn btn-primary fw-medium">Редактировать</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div class="card border rounded-3 h-100 border-light-gray">
                <div class="card-body">
                    <h5 class="card-title text-dark-purple mb-2 fs-3">Инвестиции</h5>
                    <div class="d-flex gap-2">
                        <a href="incomes/edit" class="btn btn-primary fw-medium">Редактировать</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div class="card border rounded-3 h-100 border-light-gray">
                <a href="/incomes/create" class="card-body d-flex align-items-center justify-content-center">
                    <button class="btn btn-link text-secondary border-0 p-0">
                        <i class="bi bi-plus-lg fs-3 text-light-gray"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-4">
                <p class="fw-medium mb-0 text-dark-purple fs-5">Вы действительно хотите удалить категорию? Связанные
                    доходы останутся без категории.</p>
                <div class="d-flex gap-3 justify-content-center mt-3">
                    <button type="button" class="btn btn-success px-3 py-2 fw-medium fs-8" data-bs-dismiss="modal">
                        Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger px-3 py-2 fw-medium fs-8" data-bs-dismiss="modal">
                        Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>