body {
  font-family: "Roboto", sans-serif;
}

.nav-link[data-bs-toggle="collapse"] i {
  transition: transform 0.3s ease;
}

.nav-link[data-bs-toggle="collapse"]:not(.collapsed) i {
  transform: rotate(90deg);
}

.logo-text {
  letter-spacing: 1.2em;
}

.card-body {
  min-height: 121px;
}

.thead {
  letter-spacing: 0.083em;
}

.form-select,
.form-control::placeholder {
  color: #6C757D;
}

.form-select:has(option:checked:not([disabled])) {
  color: #000000;
}

.form-select {
  --bs-form-select-bg-img: none
}

.date-edit::-webkit-calendar-picker-indicator {
  opacity: 0
}

.align-items-custom-stretch {
  align-items: center;
}

.nav-link.text-dark-blue:hover,
.nav-link.text-dark-blue.active {
  background-color: #d9d9d9 !important;
}


.fs-8 {
  font-size: calc(var(--bs-body-font-size) * 0.875) !important;
}

.fs-9 {
  font-size: calc(var(--bs-body-font-size) * 0.75) !important;
}

.fs-10 {
  font-size: calc(var(--bs-body-font-size) * 0.4375) !important;
}

.text-dark-blue {
  color: #052C65 !important;
}

.text-dark-purple {
  color: #290661 !important;
}

.text-light-gray {
  color: #CED4DA !important;
}

.border-light-gray {
  border-color: #CED4DA !important;
}


@media (min-width: 768px) {
  #sidebar.offcanvas {
    position: static !important;
    transform: none !important;
    visibility: visible !important;
  }
}

@media (max-width: 1023px) {
  .income-chart {
    border-right: none !important;
  }

  .expense-title {
    order: 3;
  }

  .expense-chart {
    order: 4;
  }

  .charts-wrapper .row {
    display: contents;
  }

  #incomeChart, #expenseChart {
    width: 300px !important;
    height: 280px !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #incomeChart, #expenseChart {
    width: 350px !important;
    height: 330px !important;
  }
}

@media (min-width: 1024px) {
  .align-items-custom-stretch {
    align-items: stretch !important;
  }
}

