body {
  font-family: "Roboto", sans-serif;
}

.nav-link[data-bs-toggle="collapse"] i {
  transition: transform 0.3s ease;
}

.nav-link[data-bs-toggle="collapse"]:not(.collapsed) i {
  transform: rotate(90deg);
}

.logo-text {
  letter-spacing: 1.2em;
}

.card-body {
  min-height: 121px;
}

.thead {
  letter-spacing: 0.083em;
}

.form-select,
.form-control::placeholder {
  color: #6C757D;
}

.form-select:has(option:checked:not([disabled])) {
  color: #000000;
}

.form-select {
  --bs-form-select-bg-img: none
}

.date-edit::-webkit-calendar-picker-indicator {
  opacity: 0
}

.align-items-custom-stretch {
  align-items: center;
}

.nav-link.text-dark-blue:not(.active):hover,
.user-panel:hover {
  background-color: #dee2e6 !important;
  transition: background-color 0.2s ease;
}

.nav-link.active {
  color: white !important;
}

#category i.bi-chevron-right {
  transition: transform 0.3s ease;
}

#category[aria-expanded="true"] i.bi-chevron-right {
  transform: rotate(90deg);
}

#category.active[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-item.categories-wrapper #categories-collapse .nav-link {
  border: 1px solid #0D6EFD;
  border-radius: 0;
}

.nav-item.categories-wrapper #categories-collapse .nav-link:first-child {
  border-top: none;
}

.nav-item.categories-wrapper #categories-collapse li:last-child .nav-link {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}


.fs-8 {
  font-size: calc(var(--bs-body-font-size) * 0.875) !important;
}

.fs-9 {
  font-size: calc(var(--bs-body-font-size) * 0.75) !important;
}

.fs-10 {
  font-size: calc(var(--bs-body-font-size) * 0.4375) !important;
}

.text-dark-blue {
  color: #052C65 !important;
}

.text-dark-purple {
  color: #290661 !important;
}

.text-light-gray {
  color: #CED4DA !important;
}

.border-light-gray {
  border-color: #CED4DA !important;
}


@media (min-width: 768px) {
  #sidebar.offcanvas {
    position: static !important;
    transform: none !important;
    visibility: visible !important;
  }
}

@media (max-width: 1023px) {
  .income-chart {
    border-right: none !important;
  }

  .expense-title {
    order: 3;
  }

  .expense-chart {
    order: 4;
  }

  .charts-wrapper .row {
    display: contents;
  }

  #income-chart, #expense-chart {
    width: 300px !important;
    height: 280px !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #income-chart, #expense-chart {
    width: 350px !important;
    height: 330px !important;
  }
}

@media (min-width: 1024px) {
  .align-items-custom-stretch {
    align-items: stretch !important;
  }
}

