<div class="flex-grow-1 px-2 p-md-0 ms-2 me-2 me-md-3">
    <h1 class="text-dark-blue py-0 py-md-5 mt-1 mb-2 text-center text-lg-start">
        Создание дохода/расхода
    </h1>

    <form class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mb-4">
        <div class="mb-3">
            <label for="type" class="form-label visually-hidden">Тип</label>
            <select class="form-select" id="type">
                <option selected disabled>Тип...</option>
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label visually-hidden">Категория</label>
            <select class="form-select" id="category">
                <option selected disabled>Категория...</option>
                <option value="salary">Зарплата</option>
                <option value="rent">Жильё</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label visually-hidden">Сумма</label>
            <input
                    type="text"
                    class="form-control"
                    id="amount"
                    placeholder="Сумма в $...">
        </div>

        <div class="mb-3">
            <label for="date" class="form-label visually-hidden">Дата</label>
            <input
                    type="text"
                    class="form-control"
                    id="date"
                    placeholder="Дата..."
                    onfocus="(this.type='date')"
                    onblur="if(!this.value)this.type='text'">
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label visually-hidden">Комментарий</label>
            <input
                    type="text"
                    class="form-control"
                    id="comment"
                    placeholder="Комментарий...">
        </div>

        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-success">
                Создать
            </button>
            <button type="button" class="btn btn-danger">
                Отмена
            </button>
        </div>
    </form>
</div>