<div class="flex-grow-1 px-3 pb-5 p-md-0 ms-md-2 overflow-auto">
    <h1 class="text-dark-blue pt-md-5 pb-md-3 py-lg-5 mt-md-1 mb-md-2 text-center text-xl-start">Доходы и
        расходы</h1>

    <div class="d-flex gap-3 pt-3 pt-md-0 mb-4 mb-md-5 justify-content-center justify-content-xl-start">
        <a href="operations/create?type=income" class="btn btn-success fs-8 py-2 px-3">
            Создать доход
        </a>
        <a href="operations/create?type=expense" class="btn btn-danger fs-8 py-2 px-3">
            Создать расход
        </a>
    </div>

    <div class="mt-3 mt-md-0 mb-xxl-5 pb-5 d-xl-flex text-center gap-3">
        <input type="radio" class="btn-check" name="dateFilter" id="today-btn" checked>
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="today-btn"
               style="width: 100px; height: 37px">Сегодня</label>

        <input type="radio" class="btn-check" name="dateFilter" id="week-btn">
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="week-btn"
               style="width: 100px; height: 37px">Неделя</label>

        <input type="radio" class="btn-check" name="dateFilter" id="month-btn">
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="month-btn"
               style="width: 100px; height: 37px">Месяц</label>

        <input type="radio" class="btn-check" name="dateFilter" id="year-btn">
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="year-btn"
               style="width: 100px; height: 37px">Год</label>

        <input type="radio" class="btn-check" name="dateFilter" id="all-btn">
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="all-btn"
               style="width: 100px; height: 37px">Все</label>

        <input type="radio" class="btn-check" name="dateFilter" id="interval-btn">
        <label class="btn btn-outline-secondary mb-3 mb-xxl-0 fw-medium" for="interval-btn"
               style="width: 100px; height: 37px">Интервал</label>

        <div>
            <span class="text-black fw-medium">с</span>
            <button type="button" id="date-from-btn" class="btn btn-link text-secondary fw-medium px-3">Дата</button>
            <input type="date" id="date-from-input" style="display: none;">

            <span class="text-black fw-medium ps-2">по</span>
            <button type="button" id="date-to-btn" class="btn btn-link text-secondary fw-medium ps-3">Дата</button>
            <input type="date" id="date-to-input" style="display: none;">
        </div>
    </div>

    <div class="table-responsive border-top">
        <table class="table table-hover text-center">
            <thead class="thead">
            <tr>
                <th class="text-dark-blue">№ операции</th>
                <th class="text-dark-blue">Тип</th>
                <th class="text-dark-blue">Категория</th>
                <th class="text-dark-blue">Сумма</th>
                <th class="text-dark-blue">Дата</th>
                <th class="text-dark-blue">Комментарий</th>
                <th class="text-dark-blue"></th>
            </tr>
            </thead>
            <tbody id="records"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-4">
                <p class="fw-medium mb-0 text-dark-purple fs-5">Вы действительно хотите удалить категорию? Связанные
                    доходы останутся без категории.</p>
                <div class="d-flex gap-3 justify-content-center mt-3">
                    <button type="button" class="btn btn-success px-3 py-2 fw-medium fs-8" data-bs-dismiss="modal" id="confirm-delete-btn">
                        Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger px-3 py-2 fw-medium fs-8" data-bs-dismiss="modal">
                        Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>